# Dependencies
node_modules

# Build outputs
.next
out
build
dist

# Prisma
prisma/migrations

# Environment files
.env
.env*.local

# Logs
*.log

# OS files
.DS_Store

# IDE
.vscode
.idea

# Lock files
package-lock.json
pnpm-lock.yaml
yarn.lock

# Database
*.db
*.db-journal


